*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #1b74ef;
}
.searchbtn{
    background-color: black;
    color:aliceblue;
}
.userbtn{
    background-color: aquamarine;
}